<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Food Truck Hub </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_register_business.css' %}"> 
    <title>Register Business</title>
</head>
<body>
    <div id="container">
        <div class="header">
            <h1>Food Truck Hub</h1>
            <a href="/">Home</a>
            {% if messages %}
            <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="body">
            <div class="body_header">
                <h4>Register Business:</h4>
            </div>
            <div class="login">
                <form action="register_business" method="POST">
                    {% csrf_token %}
                    <p>Business Name <input type="text" name="business_name"></p>
                    <p>Email <input type="text" name="email"></p>
                    <p>Phone Number <input type="text" name="phone_number"></p>
                    <p>Password <input type="password" name="password"></p>
                    <p>Confirm Password <input type="password" name="confirm_pw"></p>
            </div>
            <div class="login">
                <p>Description</p>
                <textarea name="description" cols="30" rows="10"></textarea>
                <p>Food Category <select name="food_category" id="">
                    <option value="mexican">Mexican</option>
                    <option value="sandwhiches">Sandwhiches</option>
                    <option value="pizza">Pizza</option>
                    <option value="bbq">BBQ</option>
                    <option value="indian">Indian</option>
                    <option value="burgers">Burgers</option>
                    <option value="peruvian">Peruvian</option>
                    <option value="hotdog">Hot Dogs</option>
                    <option value="mediterranean">Mediterranean</option>
                    <option value="asian">Asian</option>
                </select></p>
                <button type="submit">Register</button>
                </form>
            </div>
        </div>
        <div class="footer">
            <p>Already have your business registered?</p>
            <a href="/login">Sign In</a>
        </div>
    </div>
</body>
</html>