#container{
    width: 100%;
}


.header{
    background-color: gray;
    width: 100%;
    height: 150px;
}

.header a{
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: white;
}

.messages{
    display: flex;
    justify-content: center;
}

.header h1{
    display: flex;
    justify-content: center;
    color: white;
}

.body {
    background-color: rgb(209, 28, 28);
    padding: 10px;
    display: flex;
    justify-content: center;
}

.login {
    margin-left: 75px;
    margin-right: 75px;
}

.login input{
    display: flex;
    justify-content: flex-end;
}

.footer{
    background-color: gray;
    width: 100%;
    height: 150px;
}

.footer p {
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.footer a {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 18px;
}